{% extends "base.html" %}

{% block title %}Readlist{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
        <h1>Websites: Read Later</h1>
    </div>
    <h3>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Filter by:</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </nav>
    </h3>
    <div class="row">
        {% for article in user.liked %}

            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">


                        <h5 class="card-title">{{ article.art_title }}</h5>
                        {% if article.art_desc == None %}
                            <p class="card-text">No description for the article could be found.</p>
                        {% else %}
                            <p class="card-text">{{ article.art_desc }}</p>
                        {% endif %}

                        <a href="{{ article.art_link }}" class="btn btn-primary">Go to article</a>
                        <form action="/read_later" method="POST">
                            <button name="unlike_article" class="btn btn-danger" type="submit" value="{{ article.id }}">
                                Remove from reading list
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}