{% extends "base.html" %}
{%  block title %}Websites{% endblock %}

{%  block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
    <h1>Websites</h1>
</div>

    {% for tag in user_tags %}
    <h4>{{ tag.tag_name }}</h4>
<ul class="list-group list-group-flush" id="website_add">
    {% for website in user.rss_data %}
        {% if website.tag.id == tag.tag_id %}
            <li class="list-group-item">
                <h6>Title: {{ website.title }}</h6>
                <h6>Link: {{ website.link }}</h6>
                <h6>Tags: {{ website.tag.name }}</h6>
                <form action="/delete-website" method="POST">
                    <button name="delete_link"id="{{ website.id }}" type="submit">
                        <input type="hidden" name="id" value="{{ website.id }}" />
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </li>
        {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
<form method="POST">
    <div class="form-group">
        <label for="web_title">Website Title</label>
        <input type="text" class="form-control" id="web_title" name="web_title" placeholder="Enter Website Title"/>
    </div>
    <div class="form-group">
        <label for="web_link">RSS Link</label>
        <input type="text" class="form-control" id="web_link" name="web_link" placeholder="Enter Website RSS Link"/>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupTags">Tags:</label>
      </div>

          <select class="custom-select" name="web_tag" id="inputGroupTags">
            <option selected>None</option>
              {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}

          </select>
    </div>
    <button type="submit" class="btn btn-primary" name="add_link">Add Link</button>

</form>

{% endblock %}



